RewriteEngine On
RewriteCond %{THE_REQUEST} \s/module/search\.php[\s?] [NC]
RewriteRule ^ - [F]
RewriteRule ^search/(.+)$ module/search.php?keyword=$1 [L,QSA]
RewriteCond %{THE_REQUEST} \s/module/book\.php[\s?] [NC]
RewriteRule ^ - [F]
RewriteRule ^book/(.+)$ module/book.php?id=$1 [L,QSA]
RewriteCond %{THE_REQUEST} \s/module/chapter\.php[\s?] [NC]
RewriteRule ^ - [F]
RewriteRule ^chapter/(.+)$ module/chapter.php?id=$1 [L,QSA]
RewriteCond %{THE_REQUEST} \s/module/category\.php[\s?] [NC]
RewriteRule ^ - [F]
RewriteRule ^category/(.+)$ module/category.php?category=$1 [L,QSA]
RewriteCond %{THE_REQUEST} \s/module/rank\.php[\s?] [NC]
RewriteRule ^ - [F]
RewriteRule ^rank module/rank.php [L,QSA]